<form [formGroup]="signUpForm">

  <input placeholder="First Name" formControlName="firstName">
  <input placeholder="Last Name"  formControlName="lastName">
  <input placeholder="Email"  formControlName="email">
  <input placeholder="Login"  formControlName="login">
  <input placeholder="Password" formControlName="pass">
  <input placeholder="Confirm Password"  formControlName="passConfirm">

  <button (click)="submit()" type="submit">Submit</button>
  <a routerLink="../signin">Already have account?</a>
</form>
